.navbar {
    display: flex;
    height: 100%;
    width: 100%;    
    background-color: #0071dc;
    align-items: center;
    justify-content:space-between;
}
.navbar__image {
    padding: 0 10px ;
    height: 62px;
    object-fit: contain;
    width: 250px;
    aspect-ratio: auto 130 / 32;

    background-color: white;
}
span {
    color:white;
}