.slider_container {
    margin-top: 5px;
    display: flex;
    flex:2;
 
}

.details {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin:10px
}
.slider_img {
    border-radius: 30px;
    width: 1024px;
    height: 500px;
    
    object-fit: cover;
}